* {
   font-family: 'Raleway', sans-serif;
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: semi-bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}

blockquote {
  border-left: 3px solid #d5d5d5
  margin: 1.1em -4em
  padding: 1em 2em
  position: relative
  transition: .2s border ease-in-out
  z-index: 0
  &:before
    content: ""
    position: absolute
    top: 50%
    left: -4px
    height: 2em
    width: 5px
    margin-top: -1em
  &:after
    content: "\f35f"
    position: absolute
    top: 50%
    left: -0.5em
    font-family: "Ionicons"
    font-style: normal
    line-height: 1em
    text-align: center
    text-indent: -2px
    width: 1em
    margin-top: -0.5em
    transition: .2s all ease-in-out, .4s transform ease-in-out
}


